<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="Protractor" version="1.0.0" targetFramework="net462" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.ChromeDriver" version="98.0.4758.10200" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net462" />
  <package id="Unity" version="5.8.11" targetFramework="net462" />
</packages>